@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><a href="https://youtube.com/@@multigamergaming" target="_blank">Noah Baldwin</a>.</h3>
    <p><a href="/Zodiac">To the zodiac calculation page</a></p>
</div>
